#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 10px 20px;
  background-color: #8558d8;
  margin: 10px;
  border-radius: 50px;
  font-weight: bolder;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-size: 20px;
}

.category {
  font-size: 16px;
}

.price {
  
}