body{
    display: flex;
    justify-content: center;
}
.box {
   text-align: center;
   color: white;
   background-color: rgb(55, 59, 59);
   border-radius: 40px;
   padding: 20px 40px;
   margin: 100px;

}

button {
    margin: 10px;
    padding: 20px;
    background-color:rgb(236, 122, 61) ;
    border: none;
    font-size: larger;
    border-radius: 50px;
}